<h1>Olá, <%= @name %></h1>
<p>
  Nós geramos uma nova senha para você acessar o Roupa Livre.<br>
  Sua nova senha: <%= @new_password %>.<br>
</p>
<p>Aconselhamos que essa senha seja substituida por uma nova assim que você acessar!</p>